.info{
    height: 100%;
    width: 50%;
    position: fixed;
    background-image: url("../../imgs/hawker-auntie.jpeg");
    filter: brightness(50%);
    background-position: 50%;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
}

.info-content {
    display: inline-block;
    width: 86%;
    margin-left: 7%;
    margin-top: 90px;
    margin-bottom: 18px;
    padding: 10px;
    font-family: beirut;
    color: #ffffff;
}

.form-content {
    background-color: #ffffff;
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 60%;
    padding-right: 10%;

    animation: fadein ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}