body
{
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.6rem;
    line-height: 1.875;
    background-image: url("../../imgs/chalkboard.jpeg");
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #2c2c2c; */

    -webkit-font-smoothing: antialiased;
}

.title {
    margin-top: 150px;
    animation: fadein ease 0.5s;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
}

.icons {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1rem;
    animation: fadein ease 0.5s;
    color:white;
    text-align: center;
    padding: 30px;
}


.icon {
    width: 10%;
}

.arrow {
    width: 3%;
}

.step {
    width: 90%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #c5343b;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 14px 20px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 5px 3px #666
}

.step:hover {
    background-color: #dbdbdb;
    transition: 0.1s;
}

.step:active {
    background-color: #dbdbdb;
    box-shadow: 0 3px 3px #666;
    transform: translateY(2px);
    transition: 0.1s;
}

/* .exp {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2rem;
    animation: fadein ease 0.5s;
    color:white;
    text-align: center;
}

.start-button {
    width: 20%;
    background-color: #C5343B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #8f181e;
} */